<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'delivary/css/orders.css' %}">
    <title>Order Summary</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Thank You for Your Order, {{ username }}!</h1>
        </header>
        
        <section class="order-details">
            <h2>Delivery Address</h2>
            <p class="address">{{ customer.address }}</p>
            <p class="confirmation">Your order will be delivered to this location shortly. Thank you for choosing Meal Mate!</p>
        </section>
        
        <footer>
            {% if cart_items %}
                <a href="{% url 'customer_menu' cart_items.0.restaurant.id username %}" class="btn">Back to Restaurants</a>
            {% else %}
                <a href="/" class="btn">Back to Home</a>
            {% endif %}
        </footer>
    </div>
</body>
</html>