{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Delivery - Sign In</title>
    <link rel="stylesheet" href="{% static 'delivary/css/signin.css' %}">
  </head>
  <body>
    <nav>
      <h2>
        <a href="{% url 'delivary:index' %}" style="text-decoration: none; color: white;">MealMate</a>
    </h2>
      <div class="nav-links">
        <a href="{% url 'delivary:sign_in' %}">Sign In</a>
        <a href="{% url 'delivary:sign_up' %}">Sign Up</a>
      </div>
    </nav>

    <form method="POST" action="{% url 'delivary:handle_signin' %}">
      {% csrf_token %}
      <label>Username</label>
      <input type="text" name="username" required />

      <label>Password</label>
      <input type="password" name="password" required />

      <button type="submit">Sign In</button>
    </form>
  </body>
</html>
